.field__cell{
    display: grid;
    width:100%;
    height: 100%;
    font-family: cursive;
    font-size: 50px;
    color:#fff;
    position: relative;
    &__inside{
        display: grid;
        position: absolute;
        justify-content: center;
        align-items: center;
        align-self: center;
        justify-self: center;
        background: #000;
        height: 95%;
        width:95%;
        z-index: 1;
        border-radius: 10px;
        cursor: pointer;
        &-error{
            position: absolute;
            width: 95%;
            height: 95%;
            display:grid;
            align-self: center;
            justify-self: center;
            background: rgba(255, 255, 255, 0.4);
            border-radius: 10px;
            z-index: 2;
            opacity:0; 
            cursor: pointer;
            box-shadow:  
            inset 
                0 0 50px 10px white,
                0 0 20px 10px white;
        }
    }
}